body{
  background-color: #ececec;
  background-attachment: fixed;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: right center;
  padding: 15px 95px 15px 15px;
}

h2{
  color: #443507;
}
p{
  text-align: justify;
}

li{
  font-weight:bold;
}
